In [2]:
#!pip install snowflake-connector-python[pandas]

In [36]:
#!/usr/bin/env python
import snowflake.connector

# Gets the version
ctx = snowflake.connector.connect(
    user='sagemaker',
    password='xxxx',
    account='oq51261.eu-west-1'
)
cs = ctx.cursor()
try:
    cs.execute("SELECT current_version()")
    one_row = cs.fetchone()
    print(one_row[0])
finally:
    cs.close()
ctx.close()

4.25.1

In [37]:
# Connecting to Snowflake using the default authenticator
ctx = snowflake.connector.connect(
  user='sagemaker',
  password='xxxx',
  account='oq51261.eu-west-1',
  warehouse='SAGEMAKER_WH',
  database='ML_IRIS',
  schema='PUBLIC'
)

# Query the data from Snowflake

In [38]:
import pandas as pd

cs = ctx.cursor()
allrows = cs.execute("""select * from iris""").fetchall()

iris_data = pd.DataFrame(allrows, columns=['sepal_len','sepal_wid','petal_len','petal_wid','class'])

In [39]:
iris_data.head()

   sepal_len  sepal_wid  petal_len  petal_wid  class
0        5.1        3.5        1.4        0.2      0
1        4.9        3.0        1.4        0.2      0
2        4.7        3.2        1.3        0.2      0
3        4.6        3.1        1.5        0.2      0
4        5.0        3.6        1.4        0.2      0

In [40]:
iris_data.to_csv('iris_localhost.csv')

In [41]:
from sklearn.model_selection import train_test_split

y=iris_data['class']
x=iris_data.drop(['class'],axis=1)

#x.shape
train_x, test_x, train_y, test_y = train_test_split(x,y)
print (train_x.shape)
print (test_x.shape)

(112, 4)
(38, 4)

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr = LogisticRegression()
lr.fit(train_x, train_y)
pred_y = lr.predict(test_x)

accuracy_score(pred_y, test_y)

0.9210526315789473

In [43]:
type(pred_y.tolist())

list

In [44]:
pred_df = pd.DataFrame(data=pred_y.tolist(), columns=['class'])

pred_df = pd.DataFrame([1,2,3,4], columns=['class'])

In [46]:
from snowflake.connector.pandas_tools import write_pandas

# Write the data from the DataFrame to the table named "IRIS_RESULTS".
success, nchunks, nrows, output = write_pandas(ctx, pred_df, 'IRIS_RESULTS')

In [47]:
print ('the function successfully wrote the data to the table -', success)
print ('number of chunks of data that the function copied -', nchunks)
print ('the number of rows that the function inserted. -', nrows)
print ('the output of the COPY INTO <table> command. -', output)

the function successfully wrote the data to the table - True
number of chunks of data that the function copied - 1
the number of rows that the function inserted. - 4
the output of the COPY INTO <table> command. - [('tnndt/file0.txt', 'LOADED', 4, 4, 1, 0, None, None, None, None)]